{{ define "header"}}
<nav  class="ui attached segment m-padding-tb-mini m-shadow-small animated fadeInDown">
    <div class="ui container ">
        <div class="ui secondary  stackable menu ">
            <a href="/" class="item">
                <h2 class="ui header item">乜许博客</h2>
            </a>&nbsp;
            <a href="/" class="item m-item m-mobile-hide "><i class="home icon"></i>首页</a>
            <a href="/category" class="m-item item  m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="/tag" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
<!--            <a href="./filing.html" class="m-item  item m-mobile-hide"><i class="clock icon"></i>归档</a>-->
            <a href="/about" class="item m-item  m-mobile-hide"><i class="info icon"></i>关于我</a>
<!--            <a href="./messages.html" target="_blank" class=" item   m-item  m-mobile-hide"><i class="mail icon  "></i>留言板</a>-->
<!--            <a href="./friends.html" class=" item   m-item  m-mobile-hide"><i class="linkify icon"></i>友链</a>-->

            <div class="right m-item item m-mobile-hide">
                <form name="search" action="/search" method="post">
                    <div class="ui icon  transparent  input">
                        <input type="text" value="" name="query" placeholder="Search..." class="text" style="color:#606af5">
                        <i onclick="document.forms['search'].submit()" class="search link icon  "></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui big menu toggle m-black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
{{ end }}