{{ define "post"}}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
{{template "main" .}}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();
    $('.github').popup();
    $('.steam').popup();
    //喜欢
    $("#love").click(function (){
        $.ajax({
            url:"/love",
            data:{id:$(this).parent().attr("tabindex")},
            type:"POST",
            dataType:"json",
            success:function (res){
                $("#num").html(res.data);
            },
            error:function(err){
                console.log(err);
            }
        })
    })
</script>
</body>
</html>
{{end}}